nav {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 3rem 3rem;
}  
ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
} 
li {
  margin: 0;
} 
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14pt;
  font-weight: normal;
  transition: color 0.3s ease;
} 
a:hover {
  color: #ff4a4a; /* Light red for hover effect */
} 
.active {
  color: #ff4a4a; /* Red color for the active link */
  font-weight: bold;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ff4d4d;
  margin-top: 3%;
  cursor: default;
  font-size: 100px;
}
.navbar-social-icons{
  display: flex;
  gap: 15px;
  align-items: center;
}  
.navbar-social-icons a {
  color: #fff; /* Adjust the color as needed */
  font-size: 1.5rem; /* Adjust size as needed */
  margin-left: 1200px;
  transition: color 0.3s ease;
}
  
.navbar-social-icons a:hover {
  color: #ff6b6b; /* Change to your desired hover color */
}